input,
select {
    border: none;
    outline: none;
    height: 80px;
    width: 500px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.addTask {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
}

.second-container,
.first-container {
    height: 500px;
    padding: 0 64px;
}

.mainAddTaskContainer {
    width: calc(100% - 150px);
    
}

.addTask-headline {
    padding-bottom: 3rem;
}

.inputFielder {
    width: auto;
    margin: 17px;
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 0.5;
    cursor: pointer;
    border: 4px solid transparent;
}

.avatar:hover {
    opacity: 1;
}

.Employee-selected {
    font-weight: bolder;
    color: rgb(30, 49, 144);
}

.employee {
    cursor: pointer;
}

.createButton {
    border: none;
    border-radius: 10px;
    background-color: rgb(80, 80, 252);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 120px;
}

.createButtonhover:hover {
    background-color: blue;
}

.cancelButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 120px;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

.cancelButton:hover {
    background-color: #cfcdd6;
}

.assignedContainer {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 80px;
}

textarea {
    width: 500px;
    height: 80px;
    border: none;
    resize: vertical;
}

.buttons {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

    .header-include-html {
        width: unset !important;
    }

    .addTask {
        height: 82%;
    }

    .addTask-headline {
        padding-top: 100px;
    }

    input,
    select {
        width: 100% !important;
    }

    textarea {
        width: 100% !important;
    }

    .header-include-html {
        width: 20px;
    }

    .mainAddTaskContainer {
        width: auto;
    }

    .inputFielder {
        width: 100% !important;
    }

    .d-flex {
        display: none;
    }

    .assignedContainer {
        height: unset;
    }
}

@media (max-width: 670px) {
    .assign-to-design {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-users-design {
        margin-bottom: 1.5rem;
    }

    .assignedContainer {
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        margin: 30px 0;
    }
}

@media (max-width: 530px) {
    .buttons {
        flex-direction: column-reverse;
    }
}

@media (max-width: 350px) {
    .addTask {
        padding: 1.5rem 1rem !important;
    }

    .inputFielder {
        margin: 30px 0 !important;
    }
}